<%= stylesheet_link_tag 'vacunas_index' %>
<div class="d-flex flex-column justify-content-center align-items-center" style= " padding-top: 20px;">
	<div class="card text-center mx-auto" style= "width: 90%; ">
		<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item">
			<a class="nav-link active" href="#">Aplicadas en el vacunatorio</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Previas al registro</a>
		</li>
		</ul>
		</div>
		<div class="card-body">
			<h1 class="card-title">Historial de vacunas</h1>
			<table class="table table-bordered">

				<tr>
					<th> Enfermedad </th>
					<th> Cantidad de dosis </th>
					<th> Laboratorio </th>
				</tr>
				<% @turnosApli = @turnos.where(estado: :completado) %>
				<% @turnosApli.each() do |t| %>
					<tr>
						<td> <%= t.vacuna.enfermedad.nombre %> </td>
						<td> <%= t.vacuna.cant_dosis %> </td>
						<td> <%= t.vacuna.laboratorio.nombre %> </td>
					</tr>
				<% end %>

				<% if @turnosApli.size == 0 %>
					<tr> <td colspan="3"> No tiene vacunas en su historial. </td> </tr>
				<% end %>

			</table>
		</div>
</div>