<h1> Historial de vacunas </h1>

<table class="table">

	<tr>
		<th> Enfermedad </th>
		<th> Cantidad de dosis </th>
		<th> Laboratorio </th>
	</tr>
	<% @turnosApli = @turnos.where(estado: :completado) %>
	<% @turnosApli.each() do |t| %>
		<tr>
			<td> <%= t.vacuna.enfermedad %> </td>
			<td> <%= t.vacuna.cant_dosis %> </td>
			<td> <%= t.vacuna.laboratorio.nombre %> </td>
		</tr>
	<% end %>

	<% if @turnosApli.size == 0 %>
		<tr> <td colspan="3"> No tiene vacunas en su historial. </td> </tr>
	<% end %>

</table>