<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <%= link_to "Sistema", class: 'navbar-brand' %>    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <% if user_signed_in? %>
                <ul class="navbar-nav">                
                    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </ul>
            <% else %>
                <ul class="navbar-nav">                
                    <%= link_to "Iniciar sesión", new_user_session_path, class: 'nav-link' %>
                </ul>
            <% end %>
            
        </div>
    </nav>
</header>